body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #cccccc;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.spinning-circle {
    width: 50px;
    height: 50px;
    border: 5px solid transparent;
    border-top: 5px solid #2980B9;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto 10px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
